.address {
  font-style: inherit;
}
.address--margin {
  margin-top: 20px;
}

.contacts__item {
  margin-top: 9px;

  &:first-child {
    margin-top: 0;
  }
}

.contacts__link {
  color: var(--footer-text-color);
  transition: color var(--animation);

  @media screen and (min-width: 1200px) {
    color: var(--primary-bg-color);
  }
}

.contacts--address {
  color: var(--secondary-text-color);

  transition: color var(--animation);
}
