.site-nav {
  display: inline-flex;
  align-items: center;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @media screen and (min-width: 480px) and (max-width: 767.99px) {
    display: none;
  }
}

.site-nav--list {
  margin-left: 93px;
}

.site-nav__item {
  margin-left: 50px;
}

.site-nav__item:first-child {
  margin-left: 0;
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__link {
  position: relative;
}

.link--current {
  color: var(--accent-text-color);

  @media screen and (min-width: 1200px) {
    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-text-color);
      margin-top: 27px;
      opacity: 1;
    }
  }
}
