.hero__title {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;

  color: var(--secondary-text-color);

  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
}

.features__title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--title-text-color);
  width: 270px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-top: 30px;
    text-align: start;
  }
}
