.footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--footer-bg-color);
  color: var(--secondary-text-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media screen and (min-width: 480px) and (max-width: 767.99px) {
    text-align: center;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    max-height: 603px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.99px) {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: calc((100% - 30px * 2) / 2);
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.footer__adress-box {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 231px;
  }
}

.footer__social-box {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) and (max-width: 1199.99px) {
    margin-top: 0;
    margin-left: 165px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}
.footer-form {
  margin-left: auto;
  margin-right: auto;
}

.footer-form__box {
  @media screen and (min-width: 768px) and (max-width: 1199.99px) {
    margin-top: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    flex-wrap: nowrap;
    align-items: baseline;
  }
}

.footer__text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
