.footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--footer-bg-color);
  color: var(--secondary-text-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  @media screen and (min-width: 480px) and (max-width: 767.99px) {
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    max-height: 603px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.99px) {
    justify-content: center;
    flex-basis: calc((100% - 30px * 2) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.footer__adress-box {
  display: flex;
  flex-direction: column;
  width: 231px;
}

.footer__social-box {
  @media screen and (min-width: 480px) {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}
.footer-form__box {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;

  @media screen and (min-width: 480px) and (max-width: 767.99px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.99px) {
  }
  @media screen and (min-width: 1200px) {
  }
}

.footer__text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
