.page-header {
  position: relative;
  border-bottom: 1px solid var(--border-color);
  /*@media screen and (min-width: 468px) {
    padding-bottom: 100vh;
  }*/
}
.nav {
  display: flex;
}
.header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
