.overlay {
  background-image: url(../images/background/img-overlay.png),
    url(../images/background/background.jpg);
  max-width: 1600px;
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
